@import 'reset.css';
@import 'text.css';

body {
	background: #1D1A19;
	color: #FFFFFF;
}

.page
{
	margin: 2em auto;
	padding: 0.8em;
	min-width: 400px;
	border: 5px solid #383231;
	border-radius: 3px;
	background: white;
	color: #1D1A19;
}

.entries
{
	margin: 0; padding: 0;
	list-style: none;
}

.entries li
{
	margin: 0.8em 1.2em;
}

.entries li h2
{
	margin-left: -1em;
}

.add-entry dl
{
	font-weight: bold;
}

.metanav
{
	margin-bottom: 1em;
	padding: 0.3em;
	background: #fafafa;
	text-align: right;
	font-size: 0.8em;
}

.flash
{
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding: 0.5em 1em 0.5em 1em;
	border: 1px solid #5A740F;
	border-radius: 3px;
	background: #889638;
	color: #FFFFFF;
}

.flash li {
	margin-left: 0;
}

.error
{
	padding: 0.5em;
	background: #F0D6D6;
}

