/**
 * Styles from purecss
 */

.btn {
  /* Structure */
  display: inline-block;
  *display: inline; /*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%; /*IE 6/7 - To reduce IE's oversized btn text*/
  *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on btns */
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80); /* rgba supported */
  *color: #444; /* IE 6 & 7 */
  border: 1px solid #999; /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*csslint outline-none:false*/

.btn {
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%; /*IE 6/7 - To reduce IE's oversized btn text*/
  *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on btns */
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80); /* rgba supported */
  *color: #444; /* IE 6 & 7 */
  border: 1px solid #999; /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.btn-hover,
.btn:hover,
.btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.10));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.btn:focus {
  outline: 0;
}

.btn-active,
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-hidden {
  display: none;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

.btn-red {
  background: #f5ab9e;
  color: #8c3a2b;
}

.btn-black {
  background: #333;
  color: #fff;
}

.btn-green {
  background: #d3eda3;
  color: #72962e;
}

.btn-blue {
  background: #008ed4;
  color: #fff;
}

.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.btn-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.btn-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
