@import 'reset';
@import 'pure';
@import 'text';

$dark: #1D1A19;
$dark_green: #5A740F;
$light_green: #889638;
$grey: #383231;
$light: #fafafa;

body {
  background: $dark;
  color: $light;
}

img {
  max-width: 100%;
}

.page {
  width: 80%;
  margin: 2em auto;
  padding: 0.8em;
  min-width: 400px;
  border: 5px solid $grey;
  border-radius: 3px;
  background: $light;
  color: $dark;
}

.entries {
  margin: 0;
  padding: 0;
  list-style: none;
}

.entries li {
  border: 1px solid $dark;
  margin: 0.8em 1.2em;
  padding: 10px;
}

.entries li h2 {
}

.add-entry dl {
  font-weight: bold;
}

ul.metanav {
  padding: 10px;
  height: 100%;

  li {
    padding: 10px;
    margin: 0;
    float: right;

    a {
      float: left;
      display: block;
      text-align: center;
    }
  }
  li.active a {
    text-decoration: none;
  }
}

.full-width {
  width: 100%;
}

.flash {
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid $dark_green;
  border-radius: 3px;
  background: $light_green;
  color: $light;
}

.flash li {
  margin-left: 0;
  display: inline;
}

.error {
  padding: 0.5em;
  background: darkred;
  color: $light
}

.calendars {
  text-align: center;
  .calendar {
    border: 2px solid $light_green;
    border-radius: 5px;
    float: left;
    padding: 10px;
    margin: 4px;
    height: 290px;
    .current-month {
      background: lighten($light_green, 30%)
    }
    .past-month {
      background: lighten($light_green, 50%)
    }
    tr td {
      padding: 10px;
    }
  }
}

.inline {
  display: inline;
}

.navigation {
  .previous {
    text-align: left;
  }
  .next {
    text-align: right;
  }
}

table {
  background: #fff;
  max-width: 100%;
  border-spacing: 0;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}

table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}

table th {
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
  background: -moz-linear-gradient(top, #f6f6f6, #eee);
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  vertical-align: bottom;
}

table td {
  vertical-align: top;
}

table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #ddd;
}

table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}

table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}

/*tablesort specific styling*/
th.sort-header {
  cursor: pointer;
}

th.sort-header::-moz-selection,
th.sort-header::selection {
  background: transparent;
}

table th.sort-header:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}

table th.sort-header:hover:after {
  visibility: visible;
}

table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
}

table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

.clear {
  clear: both;
}

@import "colors";
@import "media_queries";